# VCS
.git
.gitignore

# IDE / editor
.vscode
.idea

# Build outputs
**/bin
**/obj
**/dist
**/out

# Logs
**/logs
**/*.log

# Frontend caches/deps
Mulkchi.Frontend/node_modules
Mulkchi.Frontend/.angular
Mulkchi.Frontend/coverage

# Tests / artifacts
**/TestResults

# OS
.DS_Store
Thumbs.db
