# Bu faylni .env ga nusxalab, qiymatlarni to'ldiring
# .env faylni hech qachon git ga push qilmang!

DB_PASSWORD=Kuchli_Parol_Min8!
DB_CONNECTION=Server=db;Database=MulkchiDb;User Id=sa;Password=Kuchli_Parol_Min8!;TrustServerCertificate=True
JWT_SECRET=kamida-32-belgili-maxfiy-kalit-bu-yerga-yozing
